/* ########################################
SUB VISUAL 
#########################################*/

.subvisual .quickmenu .way{
    background: #f8d823;
}

.subvisual .quickmenu .way a{
    width: 100%;
    padding: 7px;
    color: white;
    font-weight: 600;
}

.subvisual .quickmenu .nikonimgkorea{}
.subvisual .quickmenu .history{}

/* ########################################
SUB1_LOCATION SECTION 
#########################################*/

#content{
    overflow: hidden;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.mapping{
    overflow: hidden;
}

.mapping h4{
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.mapping .imging_subtext1{
    display: block;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 100;
    color: #666;
}

.mapping #map{
    width: 90%;
    height: 250px;
    margin: 5%;
}

.mapping .corpinfo{
    width: 80%;
    overflow: hidden;
    margin: 30px 10%;
    margin-bottom: 50px;
}

.mapping .corpinfo li{
    font-size: 16px;
    line-height: 1.5em;
    margin: 8px 0px;
}